.DS_Store
/.vscode
/.vercel
/node_modules
.env.development.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Temporary SQLite databases
scrape/*.db

# Sample SQL queries for database inspection
app/queries/sampleQueries.sql