:root {
	--minHeight-app: 600px;
	--width-filterContent: 400px;
	/* --color-accent: hsl(10, 29%, 42%);
	--color-dark: hsl(10, 29%, 20%); */
	/* --color-light: hsl(252, 13%, 80%);
	--color-accent: hsl(252, 13%, 38%);
	--color-dark: hsl(252, 13%, 20%); */
	--color-accent: hsl(212, 26%, 29%);
	/* --color-mid: hsl(212, 43%, 64%); */
	--color-light: hsl(212, 43%, 89%);
	--color-bg: gainsboro;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app {
	min-height: var(--minHeight-app);

	display: grid;
	grid-template-columns: var(--width-filterContainer) 1fr;
	/* ^Note: --width-filterContainer is set within 
	    the 'initial mode' and 'adjacent mode' classes */

	background-color: var(--color-accent);

	transition: grid-template-columns 0.6s ease;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     FILTER AREA                                          */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#filter-container {
	height: 100vh;
	/* height: 100dvh; */
	/* ^I use dvh in initial mode only, because it causes
	    jitteriness on mobile when URL bar minimizes */
	min-height: var(--minHeight-app);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-accent);
}

#filter-content {
	width: var(--width-filterContent);
	padding-inline: 3rem;

	display: flex;
	flex-direction: column;
	gap: 2.25rem;
}

#filter-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem;

	color: var(--color-bg);
}

#filter-header h1 {
	font-family: "Paytone One", sans-serif;
	font-size: 2.5rem;
}

#filter-paragraph {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 1.25rem;

	color: var(--color-bg);
}

#filter-paragraph select {
	width: 100%;
	height: 2rem;
	margin-top: 3px;

	font-size: 1rem;
	font-weight: bold;

	color: var(--color-accent);
	background-color: var(--color-bg);
}

button#submit-button {
	width: fit-content;
	height: 3rem;
	padding-inline: 1.5ch;
	margin: auto;

	border-radius: 6px;
	border: 2px solid var(--color-bg);
	border-bottom: 4px solid var(--color-bg);

	font-size: 1rem;
	font-weight: bold;

	color: var(--color-bg);
	background-color: var(--color-accent);

	cursor: pointer;
}

button#submit-button:active {
	transform: translateY(2px);
	border-bottom-width: 2px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     RESULT AREA                                          */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#result-container {
	height: fit-content;
	min-height: var(--minHeight-app);
	/* padding-block: 3rem; */

	background-color: white;
}

.result {
	width: min(80vw, 64ch);
	margin: 3rem auto 6rem auto;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 1rem;
}

.result-banner {
	width: 100%;
	font-size: 2.5rem;
	border: 3px solid var(--color-light);
	border-bottom: 6px solid var(--color-light);
	border-radius: 8px;
	/* background-color: var(--color-light);; */
	background-image: linear-gradient(45deg, var(--color-light), white);
	color: hsl(212, 26%, 29%);
	text-align: center;
	padding-block: 2rem;
}

.result-banner#total-profit-banner {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding-block: 3rem;
}

.result-text {
	font-weight: bold;
	color: hsl(150, 42%, 32%);
}

.result-banner#total-profit-banner .result-text {
	font-size: 4.5rem;
}

.result-details {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	/* grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); */
	/* gap: 1rem; */
}

.result-detail-row {
	display: grid;
	grid-template-columns: repeat(2, 16ch);
}

.result-chip {
	min-width: 25%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 0.375rem;
	/* justify-content: center; */
}

.result-chip-title {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.hero {
	width: 500px;
	height: 100px;
	margin: 3rem auto 0 auto;

	/* background: linear-gradient(to bottom right, white, var(--color-light)); */
	background-color: white;

	box-shadow: 10px 10px 15px hsla(252, 13%, 20%, 0.3);
}

.sub {
	width: 500px;
	height: 300px;
	margin: 0 auto 3rem auto;

	background: linear-gradient(to bottom right, var(--color-light), white);
	/* background-color: white; */

	box-shadow: 10px 10px 15px hsla(252, 13%, 20%, 0.3);

	/* border-right: 6px solid var(--color-accent);
	border-bottom: 6px solid var(--color-dark); */
}

button#return-to-filters {
	width: 80%;
	margin-inline: 10%;
	height: 3rem;
	border-width: 1px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	position: fixed;
	bottom: 1rem;
	z-index: 999;

	color: var(--color-bg);
	background-color: var(--color-accent);

	font-size: 1rem;
	font-weight: bold;

	cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     INITIAL MODE                                         */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#app.initialMode {
	--width-filterContainer: 100%;
	overflow-y: scroll;
}

.initialMode #filter-container {
	height: 100dvh;
}

.initialMode #result-container {
	display: none;
}

@media (max-height: 599px) {
	#app.initialMode {
		overflow-y: hidden;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     STACKED MODE                                         */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#app.stackedMode {
	display: flex;
	flex-flow: column nowrap;
}

.stackedMode #result-container {
	height: fit-content;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     ADJACENT MODE                                        */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#app.adjacentMode {
	--width-filterContainer: 400px;
	overflow-y: hidden;
}

.adjacentMode #result-container {
	height: 100vh;
	height: 100dvh;
	overflow-y: scroll;
}
