:root {
	--minHeight-app: 600px;
	--width-filterContent: 400px;
	/* --color-accent: hsl(10, 29%, 42%);
	--color-dark: hsl(10, 29%, 20%); */
	--color-accent: hsl(252, 13%, 38%);
	--color-dark: hsl(252, 13%, 20%);
	--color-bg: gainsboro;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app {
	min-height: var(--minHeight-app);
	display: grid;
	grid-template-columns: var(--width-filterContainer) 1fr;
	/* Note: --width-filterContainer is set within the 'initial mode' and 'adjacent mode' classes */
	transition: grid-template-columns 0.6s ease;
	background-color: var(--color-accent);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     FILTER AREA                                          */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#filter-container {
	height: 100vh;
	height: 100dvh;
	min-height: var(--minHeight-app);
	background-color: var(--color-accent);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#filter-content {
	width: var(--width-filterContent);
	padding-inline: 3rem;
	display: flex;
	flex-direction: column;
	gap: 2.25rem;
}

#filter-header {
	color: var(--color-bg);

	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem;

	margin: auto;
}

#filter-header h1 {
	font-family: "Paytone One", sans-serif;
	font-size: 2.5rem;
}

#filter-paragraph {
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 1.25rem;

	font-size: 1rem;
	color: var(--color-bg);
}

#filter-row {
	width: 100%;
}

button {
	width: fit-content;
	height: 3rem;
	padding-inline: 1.5ch;
	margin: auto;
	border-radius: 6px;
	background-color: var(--color-accent);
	border: 2px solid var(--color-bg);
	border-bottom: 4px solid var(--color-bg);
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-bg);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

button:active {
	transform: translateY(2px);
	border-bottom-width: 2px;
}

select {
	height: 2rem;
	margin-top: 3px;
	padding: 0.25rem 0;
	width: 100%;
	background-color: var(--color-bg);
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-accent);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     RESULT AREA                                          */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#result-container {
	background-color: var(--color-bg);
	/* width: 100%; */
	height: fit-content;
	min-height: var(--minHeight-app);
}

button#return-to-filters {
	width: 90%;
	margin-inline: 5%;
	height: 3rem;
	border-width: 1px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

	position: fixed;
	bottom: 1rem;
	z-index: 999;

	color: var(--color-bg);
	background-color: var(--color-accent);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     INITIAL MODE                                         */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#app.initialMode {
	--width-filterContainer: 100%;
	overflow-y: scroll;
}

.initialMode #result-container {
	display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     STACKED MODE                                         */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#app.stackedMode {
	display: flex;
	flex-flow: column nowrap;
}

.stackedMode #result-container {
	height: fit-content;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                                          */
/*     ADJACENT MODE                                        */
/*                                                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#app.adjacentMode {
	--width-filterContainer: 400px;
	overflow-y: hidden;
}

.adjacentMode #result-container {
	height: 100vh;
	height: 100dvh;
	overflow-y: scroll;
}

@media (max-height: 599px) {
	#app.initialMode {
		overflow-y: hidden;
	}
	/* .adjacentMode #filter-container {
		height: 100%;
	}

	.adjacentMode #result-container {
		height: fit-content;
		overflow-y: hidden;
	} */
}
